@use "../../shared/mixins" as m;

.messageSentContainer {
    margin-top: 5vh;
    margin-bottom: 2vh;
    min-height: 50vh;
    padding-inline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageSentText {
    font-size: 32px;
    font-weight: 600;
}

.contactFormContainer {
    width: 100%;
    min-height: 50vh;

    @include m.card-style;

    padding: 20px 40px;

    h3 {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 600;
    }

    .contactForm {
        input {
            height: 40px;
        }

        .submitButtonContainer {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        button {
            height: 40px;
            width: 120px;
            border-radius: 9999px;
            background-color: var(--button-primary-red);
            color: white;
            border: var(--red-border);
            font-weight: 600 !important;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: var(--button-primary-red-hover);
                transform: translateY(-1px);
                cursor: pointer;
            }
        }
    }
}
