$link-hover-background-color: var(--layout-background-color);

.profileLayoutContainer {
    margin: var(--mobile-layout-padding-vertical) var(--mobile-layout-padding-inline);
    gap: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: flex-start;

    @media (min-width: 1200px) {
        margin: 5vh 13vw;
        display: grid;
        grid-template-columns: 1fr 3.25fr;
    }
}

.accountAside {
    display: none;

    @media (min-width: 1200px) {
        padding: 20px 16px;
        background-color: var(--surface-card-color);
        border-radius: var(--card-border-radius);
        border: var(--light-border);
        display: flex;
        flex-direction: column;

        h3 {
            color: var(--text-secondary-color-dark);
            font-size: 12px;
            margin: 0 10px 10px;
        }
    }
}

.mobileAccountNav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @media (min-width: 1200px) {
        display: none;
    }
}

.mobileAccountNavLink {
    padding: 4px 6px !important;
    font-size: 12px !important;
}

.accountNavList {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.accountNavItem {
    font-weight: 300;
}

.navItemLink {
    color: black;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: $link-hover-background-color;
        transform: translateY(-1px);
    }
}

.activeLink {
    font-weight: 600;
    background-color: $link-hover-background-color;
}

.accountContentSection {
    width: 100%;
    min-width: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 24px;
    background: #f8fafc; // slate-50
}
