@use "../../../../shared/mixins.scss" as m;

.container {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 16px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-secondary-color-dark);
    background-color: rgb(246 246 246);
    border: 1px solid var(--border-color-light);
    border-radius: 25px;

    .title {
        font-size: 28px;
        color: var(--text-primary-color-dark);
    }

    .guidingWorkList {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 10px;

        .guidingWorkItem::before {
            @include m.before-list-point;
        }

        .guidingWorkItem:first-child::before {
            background-color: #00d492;
        }

        .guidingWorkItem:nth-child(2)::before {
            background-color: #00bcff;
        }
    }

    .button {
        align-self: center;
        margin-top: auto;
        padding: 8px 14px;
        width: 100%;
        font-weight: 600;
        color: inherit;
        border: 1px solid var(--border-color-light);
        border-radius: 100vw;
        cursor: pointer;
        transition: transform 0.25s ease;
        text-align: center;
        text-decoration: none;

        &:hover {
            background-color: rgb(255 255 255 / 0.5);
            transform: translateY(-1px);
        }
    }
}
