.intentionGridColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    color: var(--text-secondary-color-dark);

    h3 {
        color: var(--text-primary-color-dark);
        font-weight: 600;
    }
}

.intentionCheckboxContainer {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.intentionCheckboxContainer {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
