.involvedForm {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 24px;
  padding: 24px;
  flex: 1;

  form {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    border: 1px solid #cbd5f5;
    font-size: 0.95rem;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }

  .submitButton {
    border-radius: 999px;
    background: var(--button-primary);
    color: white;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    padding: 18px;
    width: 200px;

    &:hover {
      background: var(--button-primary-hover) !important;
    }
  }
}