@mixin inline-input {
  flex: 1;

  border: none;
  outline: none;
  background: transparent;

  font-size: 16px;
  font-weight: 600;
  color: #111827;

  padding: 2px 0;

  &::placeholder {
    color: #9ca3af;
  }
}

@mixin delete-block-button-mixin {
  border: none;
  background: transparent;
  cursor: pointer;

  font-size: 14px;
  color: #9ca3af;

  padding: 4px;
  border-radius: 4px;

  opacity: 0;
  transition: opacity 0.15s ease, color 0.15s ease, background-color 0.15s ease;

  // Кнопка становится видимой, когда вели на родительский элемент
  .headingEditor:hover & {
    opacity: 1;
  }

  .paragraphEditor:hover & {
    opacity: 1;
  }

  .listEditor:hover & {
    opacity: 1;
  }

  .listItemInputContainer & {
    opacity: 1;
  }

  &:hover {
    color: var(--text-secondary-color-red);
    background-color: #fee2e2;
  }
}


@mixin add-button-mixin {
  padding: 4px 6px;
  border: 1px solid var(--border-color-light);
  border-radius: 10px;
  background-color: #fff;
  color: var(--text-secondary-color-light);
  transition: 0.4s ease-in-out;
  &:hover {
    background-color: #ede9e9;
    color: var(--text-main-color-dark);
    cursor: pointer;
  }
}