@use "../../../../../../shared/mixins" as m;

.card {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    border-radius: 24px;
}

.avatarContainer {
    margin-bottom: 10px;
    display: flex;
}

.avatarInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    button {
        width: 150px;
    }
}

.titleLevelTwo,
.titleLevelThree {
    color: var(--text-primary-color-dark);
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
}

.titleLevelThree {
    font-size: 18px;
    margin-bottom: 10px;
}

.linkButton {
    padding-left: 0;
}

.personalInfoActions {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.antInputDisabled {
    background-color: var(--layout-background-color) !important;
}

.professionalInfoForm {
    margin-top: 20px;
}

.checkboxItem {
    margin-bottom: 0 !important;
}

.professionalInfoActions {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    @media (min-width: 1200px) {
        flex-direction: row;
        justify-content: flex-end;
    }
}

// Residency

.residencySubtitle {
    color: var(--text-secondary-color-dark);
}

.formFieldsContainer {
    margin-top: 20px;
}

.residenciesContainer {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.experienceItem + .experienceItem {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(148, 163, 184, 0.35);
}

.residencyFormContainer {
    border: var(--light-border);
    border-radius: 25px;
    padding: 16px 24px;

    @media (max-width: 767px) {
        border: none;
        border-radius: 0;
        padding: 0;
    }
}

.editButton {
    font-weight: 600;
    padding: 8px 24px;
    background-color: var(--button-primary-red);
    transition: 0.3s ease-in-out;
    &:hover {
        transform: translateY(-1px);
        background-color: var(--button-primary-red-hover) !important;
    }
}

.updateButton {
    @include m.submitButton;
    padding: 10px 16px;
}

.cancelButton {
    padding: 10px 16px;
    border-radius: 9999px;
    transition: 0.3s ease-in-out;
    &:hover {
        transform: translateY(-1px);
    }
}

.addResidencyButton {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-primary-color-red);
    font-weight: 600;
    transition: 0.3s ease-in-out;
    &:hover {
        transform: translateY(-1px);
        color: var(--button-primary-red-hover);
        cursor: pointer;
    }
}
