.card {
  border-radius: 24px;
}

.titleLevelTwo, .titleLevelThree {
  color: var(--text-primary-color-dark);
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}

.titleLevelThree {
  font-size: 18px;
  margin-bottom: 10px;
}

.linkButton {
  padding-left: 0;
}

.personalInfoActions {
  display: flex;
  justify-content: space-between;
}


.antInputDisabled {
  background-color: var(--layout-background-color) !important;
}




.professionalInfoForm {
  margin-top: 20px;
}

.checkboxItem {
  margin-bottom: 0 !important;
}


.professionalInfoActions {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}


// Residency

.residencySubtitle {
  color: var(--text-secondary-color-dark);
}

.formFieldsContainer {
  margin-top: 20px;
}

