@use "../../../../../shared/mixins" as m;

.cardTitleSection {
    @include m.heading-card-container;
    padding: 10vh 5vw;
}

.cardTitle {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
}

.cardContent {
    margin: 0 auto;
    color: #475569;
}
