* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
  "SF Pro Text", "SF Pro Display",
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif !important;
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: var(--layout-background-color);
  overflow-x: hidden;
}

.tiptap {
  &:focus {
    outline: none;
  }

  ul,
  ol {
    padding-left: 1.5rem;
    margin-left: 0;
  }

  li {
    padding-left: 0.5rem;
  }
}

.button-group {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.editorMenuButton {
  padding: 0 6px;

  &:hover {
    background-color: rgb(220 220 220);
  }

}


:root {
  // Background colors
  --layout-background-color: #f8f8f8;
  --widget-background-dark-color: #171717;
  --background-heading-gradient: linear-gradient(
                  155deg,
                  #95344e 0%,
                  #ae4e5c 50%,
                  #8b55bd 100%
  );
  --background-pink-gradient: linear-gradient(
                  90deg,
                  #4b0f7a 0%,
                  #b12a7d 45%,
                  #f5b6c1 100%
  );

  // Colors
  --text-primary-color-light: #dcdcdc;
  --text-secondary-color-light: #818181;
  --text-highlight-main-color-light: #fff;
  --text-primary-color-dark: #111827;
  --text-secondary-color-dark: #475569;
  --text-primary-color-red: #DC2626;
  --text-secondary-color-red: #FF6467FF;
  --border-color-light: #CBD5E1;
  --border-color-red: #FECACA;
  --red-border: 1px solid #FECACA;
  --light-border: 1px solid #CBD5E1;
  --button-primary: #DC2626;
  --button-primary-hover: #B91C1C;


  // paddings
  --general-vertical-padding: 10px;
  --general-vertical-blocks-gap: 5vh;
  --general-container-padding: 10vh 5vw;


  // mobile paddings
  --mobile-layout-padding-inline: 5vw;


  // Desktop Margins
  --page-container-horizontal-margin: 13vw;
  --page-container-vertical-margin: 2vh;

  // Mobile Margins
  --mobile-container-margin-inline: 10px;
  --mobile-container-margin-vertical: 10px;
  --paragraph-line-height: 1.6;
  --card-box-shadow: 0 0 4px rgb(0 0 0 / 0.1);


  // Fonts
  --font-system-sans: system-ui, -apple-system, blinkmacsystemfont,
    "SF Pro Text", "SF Pro Display",
    "Segoe UI",
    roboto,
    "Helvetica Neue",
    arial,
    sans-serif;
  --main-page-button-font-size: 16px;
  --main-page-button-font-weight: 600;

}
