* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


:root {
  // Background colors
  --layout-background-color: #f8f8f8;
  --widget-background-dark-color: #1B1B1B;

  // Colors
  --text-main-color-light: #dcdcdc;
  --text-highlight-main-color-light: #ffffff;

  --heading-main-color-dark: #0F172A;
  --text-main-color-dark: rgb(69 85 108);

  --text-main-color-red: oklch(70.4% 0.191 22.216);


  --border-color-light: #dfdfdf;


  // paddings
  --general-vertical-padding: 10px;
  --mobile-layout-padding-inline: 2vw;


  // Margins
  --page-container-horizontal-margin: 13vw;
  --page-container-vertical-margin: 10px;



}

body {
  background-color: var(--layout-background-color);
}
