.logoPlaceholder {
  color: var(--text-primary-color-red);
  font-size: 2rem;
  font-weight: bold;
  transition: transform 0.25s ease;

  img {
    transition: transform 0.25s ease;
  }

  &:hover img {
    transform: scale(1.05);
  }

}