@use "../../../shared/mixins" as m;

.outerContainer {
  @media (width >= 1200px) {
    padding: var(--general-vertical-padding) var(--page-container-horizontal-margin);
  }
}

.innerContainer {
  @include m.card-style;

  @media (width >= 1200px) {
    margin-inline: var(--desktop-layout-padding-inline);
  }

}

.legalLayout {
  background: #fff;
}

/* mobile first */
.section {
  margin-bottom: 32px;

  h2 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    line-height: 1.6;
  }
}

/* tablet */
@media (width >= 768px) {
  .legalContent {
    padding: 24px;
  }

  .section {
    h2 {
      font-size: 24px;
    }

    h4 {
      font-size: 18px;
    }

    p {
      font-size: 15px;
    }
  }
}

/* desktop */
@media (width >= 1200px) {
  .legalContent {
    padding: 32px;
  }

  .section {
    h2 {
      font-size: 28px;
    }

    h4 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }
  }
}
