@use "../../../../../../../shared/mixins" as m;

.cardContainer {
  @include m.director-member-card-mixin;
}

.cardTitle {
  color: var(--text-secondary-color-red);
}

.nameTitle {
  color: var(--heading-main-color-dark);
}

.contentContainer {
  h1, h2, h3, h4, h5, h6 {
    color: var(--heading-main-color-dark);
  }
}

.adminFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.boardEditor {
  color: var(--text-main-color-dark);
}