.cardContainer {

  transition: 0.4s ease-in-out;

  width: 350px;
  min-height: 300px;
  height: auto;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
  padding: 20px 24px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: var(--card-box-shadow);
    background-color: var(--layout-background-color);
  }

}

.titleContainer {

}

.descriptionContainer {

}