.title {
  color: var(--text-primary-color-dark);
  font-weight: 600;
  font-size: 28px;
}

.titleInfo {
  margin-top: 6px;
  color: var(--text-secondary-color-dark);
  font-size: 14px;
}


.passwordRecommendations {
  margin-top: 10px;
  color: var(--text-secondary-color-dark);
  font-size: 14px;
}


.buttonContainer {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  button {
    padding: 8px 18px;
    border: 1px solid var(--button-primary-red);
    border-radius: 9999px;
    background: white;
    color: var(--button-primary-red);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: translateY(-1px);
      background-color: #fff5f5;
    }
  }
}