.primaryLinkOutlined {
    display: inline-block;
    border-radius: var(--pill-border-radius);
    background: transparent;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    border: var(--red-border);
    color: var(--button-primary-red);
    font-weight: 600;
    align-self: flex-start;

    &:visited {
        text-decoration: none;
    }
    &:hover {
        color: var(--button-primary-red-hover);
        transform: translateY(-1px);
        background: var(--surface-danger-hover-color);
    }
}
