@use "../../../shared/mixins" as m;

.pageContainer {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (width >= 992px) {
    padding: var(--general-vertical-padding) 10vw;
  }

  @media (width >= 1200px) {

  }
}

.innerContainer {
  width: 100vw;
  height: 100vh;
  padding-inline: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;


  @media (width >= 992px) {
    @include m.card-style;

    max-width: 500px;
    padding-inline: 50px;
    max-height: 300px;
  }

  .resetMessage {
    margin-bottom: 20px;
  }

  button {
    margin-top: var(--general-vertical-padding);
    width: 100%;
  }

}
