@use "../../../../../../shared/mixins" as m;

.boardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.loadingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}




