$mobile-text-font-size: 12px;

$desktop-text-font-size: 14px;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 24px;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
}



.blockInfoContainer {

  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;

  h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-primary-color-dark);
  }

  p {
    color: var(--text-secondary-color-dark);
    font-size: $mobile-text-font-size;
    line-height: 1.6;
    @media (min-width: 1200px) {
      font-size: $desktop-text-font-size;
    }
  }
}


.trainingGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;

  p {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: $mobile-text-font-size;

    @media (min-width: 1200px) {
      font-size: $desktop-text-font-size;
    }
  }
}


.membershipCardsGrid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
}


.agreementBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkboxContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}



.buttonContainer {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid var(--border-color-light);
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 1200px) {
    grid-template-columns: 4fr 5fr;
  }
}

.submitInfo {
  p {
    color: var(--text-secondary-color-dark);
    font-size: $mobile-text-font-size;
  }
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media (min-width: 1200px) {
    justify-content: flex-end;
  }
}

.submitButton {
  background-color: var(--button-primary);
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 20px 24px;
  border-radius: 9999px;
  border: none;
  transition: 0.3s ease-in-out;
  width: 100%;

  @media (min-width: 1200px) {
    width: auto;
  }

  &:hover {
    // redeclared antd default styles
    background-color: var(--button-primary-hover) !important;
    color: white !important;
    border: none !important;
    transform: translateY(-1px);
  }
}


.required {
  color: var(--text-primary-color-red);
  font-weight: bold;
}


